@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[800px];
  }

  
}


html {
  cursor: url(/src/assets/icons8.png), auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #2a0845;
  background: -webkit-linear-gradient(to top, #2a0845, #6441A5);
  background-image: linear-gradient(160deg, #2a0845 0%, #005180 100%);
  overflow-x: hidden;
}

a {
  box-shadow: inset 0 0 0 0 #a5b4fc;
  color: #a5b4fc;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  box-shadow: inset 100px 0 0 0 #a5b4fc;
  color: white;
  cursor: url(/src/assets/icons8-finger.png), pointer;
}

button:hover {
  cursor: url(/src/assets/icons8-finger.png), pointer;
}

button:active {
  transform: scale(.9);
}

.rotate img {
  transition: 1s ease;
}

.rotate img:hover {
  -webkit-transform: rotateZ(-5deg) scale(.9);
  -ms-transform: rotateZ(-5deg) scale(.9);
  transform: rotateZ(-5deg) scale(.9);
  transition: 1s ease;
}

.social > a:hover {
  cursor: url(/src/assets/icons8-finger.png), pointer;
}

.submit-button {
  background: linear-gradient(90deg, rgba(100,65,165,0.5956757703081232) 0%, rgba(0,81,128,1) 100%);
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.gradient-div {
  background: linear-gradient(90deg, rgba(100,65,165,0.5956757703081232) 0%, rgb(165, 180, 252) 100%);
}